{% extends "base.html"%}

{%block title%}{{block.super}}|Lista{%endblock title %}

{%block content%}
<style>
    h1{
        font-size: 67px;
        color:gold;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    ol{
        font-size: 49px;
        color: blue;
        text-align: center;
        
    }
    body{
        background-color: black;
    }
</style>
    <h1>LISTONA</h1> 
    <ol type="none">
        <li>El Primo</li>
        <li>Secondino</li>
        <li>Terzultimo</li>
    </ol>
{%endblock content%} 
   