{% extends "base.html"%}

{%block title%}{{block.super}}|Variabili{%endblock title %}

{%block content%}
   <style>
    h1{
        font-size: 67px;
        color:gold;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    ol{
        font-size: 49px;
        color: blue;
        text-align: center;
        
    }
    body{
        background-color: black;
    }
</style> 
<h1>LISTONA VARIABILI</h1>
    <ol type="none">
        <li>{{var1}}</li>
        <li>{{var2}}</li>
        <li>{{var3}}</li>
    </ol>
{%endblock content%}    

