{% extends "base.html"%}

{%block title%}{{block.super}}|WELCOME{%endblock title %}

{%block content%}
<style>
    p{
        color: blueviolet;
        font-size: 90px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    body{
        background-color: orangered;
    }
    h2{
        text-align: center;
        color:hotpink;
        background-color: darkturquoise;
    }
</style> 
    <p>Welcome</p>
    <h2>BUONGIONO,WELCOME :\</h2>
{%endblock content%}    


